body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img,
u,
i {
  margin: 0;
  padding: 0;
}

body {
  font-family: '微软雅黑';
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

/*icon的引用*/
@font-face {
  font-family: 'iconfont';  /* project id 2016705 */
  src: url('//at.alicdn.com/t/font_2016705_veu6behpiv.eot');
  src: url('//at.alicdn.com/t/font_2016705_veu6behpiv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2016705_veu6behpiv.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2016705_veu6behpiv.woff') format('woff'),
  url('//at.alicdn.com/t/font_2016705_veu6behpiv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2016705_veu6behpiv.svg#iconfont') format('svg');
}

.icon {
  font-family: 'iconfont';
  font-size: 38px;
  line-height: 38px;
}